/*FONTS*/
@font-face {
 font-family: 'AmaticBold';
 src: url('../font/AmaticSC-Bold.ttf');
}
@font-face {
 font-family: 'Amatic';
 src: url('../font/AmaticSC-Regular.ttf');
}
@font-face {
 font-family: 'LatoBold';
 src: url('../font/Lato-Bold.ttf');
}
@font-face {
 font-family: 'LatoBlack';
 src: url('../font/Lato-Black.ttf');
}
@font-face {
 font-family: 'Lato';
 src: url('../font/Lato-Regular.ttf');
}
@font-face {
 font-family: 'Lato-Thin';
 src: url('../font/Lato-Thin.ttf');
}
@font-face {
 font-family: 'Lato-Light';
 src: url('../font/Lato-Light.ttf');
}

/*GENERAL STYLE*/
nav{
	background-color: white!important;
	margin: 0px!important;
}
html{
  min-height: 100%;
}
body{
  background: linear-gradient(#2e133e,#381647, #b93971);
  /* background-color: #F8F8F8; */
  min-height: 100%;
  margin-bottom: 20px;
  height: auto;
}
section{
  height: 100%;
}
