/*FONTS*/
@font-face {
 font-family: 'AmaticBold';
 src: url('../font/AmaticSC-Bold.ttf');
}
@font-face {
 font-family: 'Amatic';
 src: url('../font/AmaticSC-Regular.ttf');
}
@font-face {
 font-family: 'LatoBold';
 src: url('../font/Lato-Bold.ttf');
}
@font-face {
 font-family: 'LatoBlack';
 src: url('../font/Lato-Black.ttf');
}
@font-face {
 font-family: 'Lato';
 src: url('../font/Lato-Regular.ttf');
}

/*GENERAL STYLE*/
nav{
	background-color: white!important;
	margin: 0px!important;
}
body{
	background-color: #F8F8F8;
}
.centered{
	text-align: center;
}
.container{
	margin-top: 100px;
}
.whiteBox{
	min-height: 600px;
	background-color: white;
	border-radius: 10px;
	border: solid 2px #E8E6E6;
	padding: 30px;
}
.title{
	font-family: 'Lato-Bold';
	font-size: 17px;
	color: #4a4a4a;
	text-align: center;
}
.noPadding{
	padding: 0px;
}

/*MEDIA QUERY IN NAV*/

@media(max-width:767px){
	.nav > li {
    position: relative;
    display: inline-block;
	}
	.navbar-nav > li > a {
    height: 35px;
    width: 35px;
	}
	.nav > li {
    height: 45px;
    width: 45px;
	}
	.nav {
    text-align: center;
    width: auto;
	}
}



/*LOGO*/
.navbar-brand{
	font-family: 'AmaticBold';
	font-size: 50px;
  margin-top: 10px;
}

/*ICONS*/
.icons{
	height: 70px;
  width: 70px;
}
.roundIcon{
	margin-top: 5px;
	background-image: url('../images/menuLight.png');
	background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;	
  height: 60px;
  width: 60px;
}
.light{
	background-image: url('../images/menuLight.png');
}
.user{
	background-image: url('../images/menuUser.png');
}
.tv{
	background-image: url('../images/menuTv.png');
}
.temperature{
	background-image: url('../images/menuTemperature.png');
}
.video{
	background-image: url('../images/menuVideo.png');
}
.security{
	background-image: url('../images/menuSecurity.png');
}
.water{
	background-image: url('../images/menuWater.png');
}


/*LISTS IN THE VIEWS*/
.name{
	font-family: 'Lato-Bold';
	font-size: 15px;
	color: #4a4a4a;
}
.description{
	font-family: 'Lato';
	font-size: 15px;
	color: #828282!important;
}
.list{
	margin-bottom: 10px;
  border-bottom: solid #d8d8d8 2px;
}

@media(max-width:767px){
	.container {
  	margin-top: 30px;
	}
}


/*ON OFF ICONS*/
.onOff{
	text-align: right;
  height: 50px;
  width: 50px;
  -webkit-background-size: contain !important;
  -moz-background-size: contain !important;
  -o-background-size: contain !important;
  background-size: contain !important;
  background-repeat: no-repeat;
  background-color: transparent!important;
  border-color: transparent!important;
}
.onOff:focus{
	outline: 0px;
}
.lightOn {
    background-image: url('../images/lightColor.png');
}
.lightOff {
    background-image: url('../images/light.png');
}
.tvOn {
    background-image: url('../images/tvColor.png');
}
.tvOff {
    background-image: url('../images/tv.png');
}
.temperatureOn {
    background-image: url('../images/temperatureColor.png');
}
.temperatureOff {
    background-image: url('../images/temperature.png');
}
.videoOn {
    background-image: url('../images/videoColor.png');
}
.videoOff {
    background-image: url('../images/video.png');
}
.alarmOn {
    background-image: url('../images/shieldColor.png');
}
.alarmOff {
    background-image: url('../images/shield.png');
}
.waterOn {
    background-image: url('../images/waterColor.png');
}
.waterOff {
    background-image: url('../images/water.png');
}
.bla{
	
}



/*MEDIA QUERYS*/



